apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{k8s_name}}
  labels:
    app: {{k8s_name}}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: {{k8s_name}}
  template:
    metadata:
      labels:
        app: {{k8s_name}}
    spec:
      containers:
        - name: {{k8s_name}}
          image: {{image}}
